.container a img{
    height: 77px;
}
.color{
    background-color:#e3f2fd;
}
.class1{
    background-color: #e9ecef;
    padding-top: 14px;
    padding-bottom: 16px;
    padding-left: 12px;
}

ol li a{
    text-decoration: none;
}
img{
   
    height: 550px;
}

